body {
  margin: 0;
  height: 100vh;
  background: #d3ff00 center no-repeat;
  background-image: radial-gradient(circle, #d3ff00, #aed202);
  font-family: arial;
}

.logo {
  margin: 5vmin;
  text-align: center;
  font-size: 7vmin;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
}

.logoElement {
  display: inline-block;
  position: relative;
  transition: font-size cubic-bezier(.4,.9,.45,1.25) 0.35s;
  animation: appear 1s cubic-bezier(.4,.9,.45,1.25);
}

@keyframes appear {
  0% { font-size: 40%; top: 5vmin; }
  60% { font-size: 120%; top: -1vmin;}
  100% {top: 0}
}

.logoElement:hover {
  font-size: 150% !important;
}
.logoElement:before {
  content: attr(copy);
  position: absolute;
  color: rgba(0,0,0,0.1);
  z-index: -1;
  top: -5px;
  transform: rotate(-2deg); 
}
.logoElement.a {
  transform: rotate(-2deg); 
}
.logoElement.b {
  transform: rotate(2deg); 
  margin-left: -1vmin;
  font-size: 135%;
  animation-duration: 1.3s;
}
.logoElement.c {
  transform: rotate(2deg); 
  margin-left: -1.2vmin;
  margin-top: 1vmin;
  font-size: 110%;
  color: #f12929;
  animation-duration: 1.6s;
}

::selection {
  background: rgba(0,0,0,0.1);
}